<body>
    <h1>仕事力診断</h1>
    <%= form_for(@user) do |f| %>
    <%= f.text_field :email %>
    <%= f.submit "登録" %>
    <%= link_to 'Back', users_path %>
    <%= button_to "診断開始", {controller: 'static_pages', action: 'check'}, {method: :get} %>
    <% end %>
</body> 
