<!DOCTYPE html>
<html>
  <head>
    <title>仕事力診断</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
	<%= link_to "", "#", id: "logo"  %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "会社概要", :controller => "static_pages", :action => "aboutus" %></li>
            <li><%= link_to "Contact", :controller => "static_pages", :action => "help" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

